.ui-icon {
  background: url(./icon.png?t=1585284570597) no-repeat;
  display:inline-block;
}
.ui-icon__alipay {
  background-position: 0 -76px;
  width: 19px;
  height: 18px
}
.ui-icon__arrow_left {
  background-position: -76px -24px;
  width: 20px;
  height: 39px
}
.ui-icon__arrow_left2 {
  background-position: -14px -134px;
  width: 7px;
  height: 15px
}
.ui-icon__arrow_right {
  background-position: -98px -24px;
  width: 20px;
  height: 39px
}
.ui-icon__arrow_right2 {
  background-position: -23px -134px;
  width: 7px;
  height: 15px
}
.ui-icon__arrow_up {
  background-position: -90px -65px;
  width: 8px;
  height: 9px
}
.ui-icon__close_mask {
  background-position: -120px -39px;
  width: 21px;
  height: 20px
}
.ui-icon__crown {
  background-position: -21px -76px;
  width: 21px;
  height: 16px
}
.ui-icon__detail_play {
  background-position: 0 0;
  width: 74px;
  height: 74px
}
.ui-icon__dropdown {
  background-position: -109px -65px;
  width: 7px;
  height: 4px
}
.ui-icon__explain {
  background-position: -122px -96px;
  width: 13px;
  height: 13px
}
.ui-icon__fanying {
  background-position: -143px -39px;
  width: 22px;
  height: 16px
}
.ui-icon__filter {
  background-position: -76px -65px;
  width: 12px;
  height: 9px
}
.ui-icon__gm_name {
  background-position: -76px 0;
  width: 92px;
  height: 22px
}
.ui-icon__gold {
  background-position: -93px -96px;
  width: 13px;
  height: 15px
}
.ui-icon__hall {
  background-position: -77px -116px;
  width: 9px;
  height: 11px
}
.ui-icon__hot {
  background-position: -52px -116px;
  width: 11px;
  height: 15px
}
.ui-icon__left_arrow {
  background-position: -107px -116px;
  width: 6px;
  height: 11px
}
.ui-icon__live1 {
  background-position: -65px -76px;
  width: 20px;
  height: 14px
}
.active .ui-icon__liwu {
  background-position: 0 -116px;
  width: 16px;
  height: 16px
}
.ui-icon__liwu {
  background-position: -20px -96px;
  width: 17px;
  height: 17px
}
.ui-icon__loc {
  background-position: -159px -76px;
  width: 9px;
  height: 11px
}
.ui-icon__local {
  background-position: -88px -116px;
  width: 9px;
  height: 11px
}
.ui-icon__maikefeng {
  background-position: -108px -96px;
  width: 12px;
  height: 15px
}
.ui-icon__man {
  background-position: -152px -96px;
  width: 11px;
  height: 11px
}
.ui-icon__money {
  background-position: -76px -96px;
  width: 15px;
  height: 15px
}
.active .ui-icon__peiwan {
  background-position: -123px -76px;
  width: 16px;
  height: 14px
}
.ui-icon__peiwan {
  background-position: -141px -76px;
  width: 16px;
  height: 13px
}
.ui-icon__person {
  background-position: -39px -96px;
  width: 18px;
  height: 15px
}
.ui-icon__phone {
  background-position: 0 -134px;
  width: 12px;
  height: 17px
}
.ui-icon__refresh {
  background-position: -154px -24px;
  width: 14px;
  height: 13px
}
.ui-icon__right_arrow {
  background-position: -99px -116px;
  width: 6px;
  height: 11px
}
.ui-icon__service {
  background-position: -137px -96px;
  width: 13px;
  height: 13px
}
.active .ui-icon__shouhu {
  background-position: -105px -76px;
  width: 16px;
  height: 14px
}
.ui-icon__shouhu {
  background-position: -87px -76px;
  width: 16px;
  height: 14px
}
.ui-icon__smallclose {
  background-position: -100px -65px;
  width: 7px;
  height: 7px
}
.ui-icon__v_gold {
  background-position: -59px -96px;
  width: 15px;
  height: 15px
}
.ui-icon__vip {
  background-position: -120px -24px;
  width: 32px;
  height: 13px
}
.ui-icon__wechat {
  background-position: -44px -76px;
  width: 19px;
  height: 16px
}
.ui-icon__woman {
  background-position: -65px -116px;
  width: 10px;
  height: 12px
}
.ui-icon__y_icon {
  background-position: 0 -96px;
  width: 18px;
  height: 18px
}
.active .ui-icon__ziliao {
  background-position: -35px -116px;
  width: 15px;
  height: 16px
}
.ui-icon__ziliao {
  background-position: -18px -116px;
  width: 15px;
  height: 16px
}
